    <center>
    <h2>Welcome to ICA2, ja</h2>
    <a href="../user/new">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Sign up
    </button>
    </a>
    </center>

